# This file should be pointed from docker-compose.yml file

IDP_SECRET_KEY=XXX (long value please)
IDP_DEBUG=False

IDP_SITE_URL=https://idp.testpoint.io
IDP_RAVEN_DSN=... (optional Sentry DSN)

IDP_DB_NAME=...
IDP_DB_HOST=...
IDP_DB_PORT=5432
IDP_DB_USERNAME=...
IDP_DB_PASSWORD=...

IDP_STATIC_URL=/static/
IDP_STATIC_ROOT=/code/var/static_root
