<ul>
  {% if user.is_authenticated %}
    {% if user.business.is_developer %}
      <li><a href="{% url 'users:list' %}" class="black-text">Users</a></li>
      <li><a href="{% url 'rp:list' %}" class="black-text">RP</a></li>
    {% else %}
      <li><a href="{% url 'users:my_token' %}" class="black-text">{{ user.business.get_readable_name }} ({{ user.business.get_role_display }})</a></li>
    {% endif %}
    <li><a href="{% url 'account_logout' %}" class="black-text">Logout</a></li>
  {% else %}
    <li><a href="{% url 'account_login' %}">Login</a></li>
  {% endif %}
  <li>
    <a href="#" class="has-dropdown">Services</a>
    <label for="dropdown" class="has-dropdown">Services</label>
    <input type="checkbox" id="dropdown"/>
    <ul class="subemnu">
      <li><a href="http://testpoint.io/tap.html">Test AP</a></li>
      <li><a href="http://testpoint.io/nry.html">Test NRY</a></li>
      <li><a href="http://testpoint.io/idp.html">Test IDP</a></li>
      <li><a href="http://testpoint.io/dcl.html">Test DCL</a></li>
      <li><a href="http://testpoint.io/dcp.html">Test DCP</a></li>
    </ul>
  </li>
</ul>